<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div>
    <a class="navbar-brand" [routerLink]="['/']">Khalid Noman</a>
    <ul class="navbar-nav flex-grow">

      <li nav-item>
        <a routerLink="main-resume" class="nav-link">
          Main Resume
        </a>
      </li>

      <li nav-item>
        <a routerLink="projects" class="nav-link">
          Projects
        </a>
      </li>

    </ul>
  </div>
</nav>
<div class="mycontainer">
  <router-outlet></router-outlet>
</div>